.git
.github
.gradle
build
**/build
# The prebuilt Docker target consumes only the tested server artifact.
!server/build/
server/build/*
!server/build/libs/
server/build/libs/*
!server/build/libs/dex-server-all.jar
.idea
*.log
DeX
ARCHIVED_LEGACY_WPF
DeXShareTarget
*.md
